:root {
  --backgroundWhite: white;
  --boxShadowColor: rgba(0, 0, 0, 0.1);
  --fontColor: #5ba4a4;
  --mainColor: #eef2f7;
  --secondaryColor: #2b2d2f;
}

* {
  box-sizing: border-box;
}

.mainHeader {
  background-color: var(--fontColor);
  width: 100%;
  height: 100px;
  margin-top: 0%;
}

.mainHeader ul {
  display: flex;
}

.mainHeader li {
  display: flex;
}

body {
  background-color: var(--mainColor);

  margin: 0;
  padding: 0;
}

#job-listings {
  margin: 40px auto;
  width: 80%;
}

.job-listing {
  align-items: center;
  background-color: var(--backgroundWhite);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--boxShadowColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
}

.job-listing:hover {
  border-left: 5px solid var(--fontColor);
}

.job-header {
  flex: 1;
  margin-right: 20px;
}

.company-info {
  align-items: center;
  display: flex;
}

.company-info strong {
  color: var(--fontColor);
  font-size: 18px;
}

.company-info .badge {
  background-color: var(--fontColor);
  border-radius: 20px;
  color: white;
  font-size: 12px;
  margin-left: 10px;
  padding: 5px 10px;
}

.badge.featured {
  background-color: #2b2d2f;
}

.position strong {
  font-size: 16px;
}

.meta-info {
  color: #7b7f83;
  font-size: 14px;
}

.job-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags .tag {
  background-color: var(--mainColor);
  border-radius: 5px;
  color: var(--secondaryColor);
  font-size: 16px;
  margin: 5px 5px 0 0;
  padding: 5px 10px;
}

.tag:hover {
  background-color: var(--fontColor);
}
.mainHeader {
  align-items: center;
  background-color: var(--fontColor);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.mainHeader ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin: 40px auto;
  padding: 0;
  width: 80%;
}

.mainHeader li {
  background-color: var(--backgroundWhite);
  border-radius: 5px;
  color: var(--secondaryColor);
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px 10px;
}
.mainHeader li:hover {
  background-color: var(--mainColor);
  color: var(--fontColor);
}
.mainHeader li.active {
  background-color: var(--mainColor);
  color: var(--fontColor);
}

#clear-filters {
  background-color: #f44336;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

#clear-filters:hover {
  background-color: #d32f2f;
  text-decoration: underline;
}
