:root {
  --bg-color: #f0fafb;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --light-gray: #888;
  --primary-color: #5cb85c;
  --secondary-color: #2c3e50;
  --text-color: #333;
  --white-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 2rem;
  text-align: center;
}

.attribution {
  font-size: 11px;
  margin-bottom: 5%;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.filters {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--box-shadow);
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 1.5rem;
}

.filter-category {
  display: flex;
  flex-direction: column;
}

.filter-category h3 {
  margin-bottom: 0.5rem;
}

.filter-category input {
  margin-right: 0.5rem;
}

.filter-category label {
  align-items: center;
  display: flex;
  margin-bottom: 0.5rem;
}

#filters-form.hidden {
  display: none;
}

#filters-form {
  transition: visibility 0.3s;
}

.icon-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: 75px;
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}

.filter-icon,
.job-tags span {
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 2px 4px var(--box-shadow);
  color: var(--primary-color);
  cursor: pointer;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-size: 18px;
  margin: 0.25rem;
  padding: 8px 16px;
  transition: background-color 0.3s, color 0.3s;
}

.filter-icon {
  background-color: var(--white-color);
}

.filter-icon:hover,
.job-tags span:hover,
.reset-button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.remove-icon {
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  height: 20px;
  justify-content: center;
  margin-left: 8px;
  transition: background-color 0.3s, color 0.3s;
  width: 20px;
}

.remove-icon:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.job-card {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 4px 6px var(--box-shadow);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 1.5rem;
  position: relative;
}

.job-card.featured {
  border-left: 5px solid var(--primary-color);
}

.job-card img {
  border-radius: 50%;
  height: 50px;
  margin-right: 1rem;
  width: 50px;
}

.job-company {
  font-weight: bold;
  margin-right: 1rem;
}

.job-details {
  color: var(--light-gray);
  display: flex;
  font-size: 0.9rem;
  width: 25vw;
}

.job-details span {
  margin-right: 1rem;
}

.job-featured {
  background-color: var(--secondary-color);
}

.job-featured,
.job-new {
  background-color: var(--primary-color);
  border-radius: 15px;
  color: var(--white-color);
  font-size: 0.8rem;
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.job-header {
  align-items: center;
  display: flex;
}

.job-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 100px);
}

.job-position {
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.job-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.no-jobs {
  color: var(--text-color);
  font-size: 36px;
  padding: 20px;
  text-align: center;
}
.toggle-button,
.reset-button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.toggle-button {
  display: block;
  margin: 1rem auto;
  max-width: 200px;
}

.toggle-button:hover,
.reset-button:hover {
  background-color: #4cae4c;
}
