body {
    align-items: center;
    background-color: #f0f7f8;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .clear{
    background-color: white;
    border: none;
    color: #164966;
    font-size: 18px;
    
  }

  .company-name {
    align-items: center;
    display: flex;
  }
  
  .company-name h2 {
    color: #164966;
    font-size: 20px;
    margin: 0;
  }
  
  .company-name span {
    border-radius: 15px;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
  }

  .delete-button{
    background-color: #5da5a4;
    border-radius: 1px;
    border: none;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right: 10px;
    padding: 5px 10px;
  }
  .delete-button:hover{
    background-color: #164966;
  }

  .featured {
    background-color: #2c3a3e;
    color: white;
  }

  .filter-tags{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .header{
    background-color: #5da5a4;
    background-image: url('images/bg-header-desktop.svg');
    height: 100px;
    width: 100%;
  }
  
  #job-listings-container {
    margin-top: 20px;
    width: 80%;
  }
  
  .job-listing {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
  }

  .job-listing:active{
    border-left: 10px solid rgb(1, 68, 85) ;
  }
  
  .job-listing img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  
  .job-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .job-filter{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: -40px;
  }


  .job-details h3 {
    margin: 5px 0;
  }
  
  .job-details p {
    color: #999;
    margin: 5px 0;
  }

    
  .languages, .tools ,.roles{
    gap: 10px;
    margin-bottom: 10px;
  }
 
  .new {
    background-color: #5da5a4;
    color: white;
  }
  
 
  .tags{
    display: flex;
    flex-direction: row;

  }
  
  .tag {
    background-color: #eef6f7;
    border-radius: 5px;
    color: #5da5a4;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
  }

  .tag:hover{
    background-color: #164966;
  }


  

  @media only screen and (max-width: 942px) {
    .job-listing{
        flex-direction: column;
    }
    .tags, .roles, .languages{
        flex-direction: column;
    }
    .job-listing{
        align-items: start;

    }
    .job-details{
        border-bottom: 1px solid rgb(175, 162, 162);
    }
    .header{
        background-image: url('images/bg-header-mobile.svg');
    }
  }
  